@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700&display=swap&subset=cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #8daae5;
  font-family: "arial", "sens-serif";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 4px 0 black;
          box-shadow: 0 0 4px 0 black;
  background-color: white;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  min-height: 100vh;
  margin: 0px auto;
  max-width: 1200px;
}

.logo {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  height: 100px;
}

.logo__image {
  width: 100%;
  display: block;
}

.search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 50%;
  max-height: 60px;
  margin-right: 2vh;
  padding: 0 10px;
  font-size: 1.4rem;
}

.search__input:focus {
  -webkit-box-shadow: 0 0 2px 1px #8daae5;
          box-shadow: 0 0 2px 1px #8daae5;
  font-weight: bold;
}

.search__btn {
  font-size: 1.2rem;
  height: 50%;
  max-height: 60px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  background-color: white;
  border: 2px solid #8daae5;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search__btn:hover {
  background-color: #8daae5;
  color: white;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__icon-link {
  margin: 0 10px;
  font-size: 3rem;
  color: #8daae5;
}

.settings__icon-link:hover {
  color: #2855b1;
}

.menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #5454eb;
  font-family: "pt sans", "roboto", "arial";
  height: 70px;
  margin-top: 10px;
  padding: 15px 0 15px 80px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__item {
  margin: 0 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 4rem;
}

.menu__item:hover {
  border-bottom: #8daae5 2px solid;
}

.menu__item:nth-last-child(1) {
  margin-left: auto;
  border: 2px solid #8daae5;
}

.menu__item:nth-last-child(1):hover {
  border-color: #2855b1;
}

.menu__item:nth-last-child(1) .menu__link {
  padding: 0 22px;
}

.menu__link {
  display: block;
  color: white;
  text-decoration: none;
}

.article {
  padding: 30px 50px;
  color: black;
  text-align: center;
}

.article__image {
  display: block;
  width: 100%;
}

.article__title {
  font-family: "pt sans", "roboto", "arial";
  text-transform: uppercase;
  font-size: 2rem;
  padding: 35px 0 15px;
}

.article__introduction {
  line-height: 1.6;
  font-size: 1.6rem;
}

.article__btn {
  display: block;
  margin: 10px auto;
  font-size: 1.2rem;
  width: 50%;
  min-width: 200px;
  border: 2px solid black;
  padding: 6px 12px;
  background-color: white;
  text-decoration: none;
  color: black;
}

.article__btn:hover {
  background-color: #8daae5;
}

.main-articles {
  background-color: #8daae5;
  color: white;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-articles__intro {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 60px 0 30px;
  text-align: center;
  font-size: 4.4rem;
  letter-spacing: 2px;
}

.main-articles .article {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.article-list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #54b12f;
}

.footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #2da38f;
}
/*# sourceMappingURL=main.css.map */